*, *::before, *::after {
    box-sizing: border-box;
}
img, button {
    display: inline-block;
    max-width: 100%;
}
span {
    display: block;
}
* {
    margin: 0;
    padding: 0;
}
:root {
    --SoftBlue: hsl(231, 69%, 60%);
    --SoftRed: hsl(0, 94%, 66%);
    --GrayishBlue: hsl(229, 8%, 60%);
    --VeryDarkBlue: hsl(229, 31%, 21%);
    --VeryLightGrey: hsl(0, 0%, 98%);
    --BoxColor: rgba(0, 0, 0, 0.2);
    --White: hsl(0, 0%, 100%);
}
body {
    font-family: "Rubik", sans-serif;
    font-size: 1.13rem;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    position: relative;
    z-index: auto;
}
p, span {
    color: var(--GrayishBlue);
}


/* Header styling */
ul {
    list-style: none;
}
a,
a:link,
a:visited,
a:focus,
a:hover {
    display: inline-block;
    text-decoration: none;
    font-size: inherit;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;  /* position 1 */
    box-shadow: 0 2px 5px var(--BoxColor);
}
.open-menu {
    position: relative;
    z-index: 1000;  /* position 3 */
}
.nav-links {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100vh;
    width: 100%;
    background-color: var(--VeryDarkBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 5rem 2rem;
    z-index: 100;  /* position 2 */
    transition: 0.5s ease;
    cursor: pointer;
    background-image: url("../images/logo-bookmark_white_transparent.svg");
    background-repeat: no-repeat;
    background-position-x: 30px;
    background-position-y: 20px;
    display: none;
}
.nav-links a {
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* styling used in all views */
.browsers > div > span {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--VeryDarkBlue);
}
h1, h2, h3 {
    color: var(--VeryDarkBlue);
}
.question-1 > div > span {
    color: var(--VeryDarkBlue);
}


/* Testing animation for hero section */
.hero-content, .hero-image-container {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.5s ease-out 0.5s forwards;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* hero-section button styling */
.chrome-button, .firefox-button {
    padding: 0.8rem;
    margin: 0.3rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 5px 0px 10px var(--BoxColor);
}
.chrome-button {
    background-color: var(--SoftBlue);
    color: var(--VeryLightGrey);
}
.firefox-button {
    background-color: var(--VeryLightGrey);
    color: var(--VeryDarkBlue);
}


/* Mobile and Tablet view */
@media (max-width: 899px) {
    .lines {
        width: 90%;
        border-top: 1px solid var(--VeryLightGrey);
        background-position-x: 20px;
    }
}


/* Mobile view */
@media (max-width: 500px) {
    .main {
        overflow-x: hidden;
    }
    .hero {
        padding: 6rem 0;
    }
    .hero-image-container {
        position: relative;
        /*
        border-top-left-radius: 300px;
        border-bottom-left-radius: 300px;
        background-position: right center;
        position: relative;
        z-index: 1;
        */
    }
    .hero-image-container::before{
        content: "";
        position: absolute;
        background-color: var(--SoftBlue);
        top: 60%;
        left: 61%;
        min-width: 350px;
        height: 200px;
        transform: translate(-50%, -50%);
        border-top-left-radius: 300px;
        border-bottom-left-radius: 300px;
        z-index: -1;
    }
    .hero-content {
        padding: 2rem 1rem;
    }

    /* Text styling */
    .hero-content > h1, .hero-content > p {
        text-align: center;
        padding: 0.5rem 0;
    }
    .feature-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    .feature-paragraph {
        text-align: center;
    }
    .feature-h3, .feature-p, .download > h3, .download > p {
        text-align: center;
        padding: 0.5rem 1rem;
    }

    /* features section styling */
    .css-container {
        padding: 1rem 0; /* previously here*/
    }
    .card:nth-child(2), .card:nth-child(3) {
        display: none;
    }
    
    .illustration-container {
        position: relative;
        padding: 1.8rem 0;
    }
    .illustration-container::before{
        content: "";
        position: absolute;
        background-color: var(--SoftBlue);
        top: 62%;
        left: 30%;
        border-bottom-right-radius: 80px;
        min-width: 350px;
        height: 220px;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    .illustration-image {
        padding: 2rem;
    }
    .span-header {
        text-align: center;
    }
    .simple-span, .speedy-span, .easy-span {
        padding: 0.5rem;
    }

    /* Animations for span */
    @keyframes bounce {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }
    .span-header span {
        transition: color 0.2s ease;
    }
    .span-header span:active {
        animation: bounce 1s ease-in-out;
        color: var(--SoftRed);
    }

    /* Download section styling */
    .download {
        padding: 4rem 0;
    }
    .browsers {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 3rem;
    }
    .browsers > div > section {
        border-top: 0.4rem dotted var(--GrayishBlue);
        margin-top: 1rem;
    }
    .browsers > div > div {
        text-align: center;
        padding: 2rem;
    }
    .browsers > div > span, 
    .browsers > div > p {
        text-align: center;
    }
    .chrome, .firefox, .opera {
        border: 2px solid var(--VeryLightGrey);
        border-radius: 1rem;
        box-shadow: 
            -2px 0 3px var(--BoxColor),
            2px 0 3px var(--BoxColor),
            0 12px 10px var(--BoxColor);
    }
    .browser-button {
        padding: 1rem 2.5rem;
        border: none;
        border-radius: 0.5rem;
        background-color: var(--SoftBlue);
        color: var(--VeryLightGrey);
    }

    /* Animation style for download section buttons*/
    .browser-button-container {
        position: relative;
        overflow: hidden;
    }
    .browser-button-container button {
        position: relative;
        overflow: hidden;
    }
    .browser-button-container button::after {
        content: "";
        position: absolute;
        background: rgba(255, 255, 255, 0.5);
        width: 10px;
        height: 10px;
        opacity: 0;
        border-radius: 50%;
        transform: scale(1);
        transition: transform 0.6s, opacity 0.6s;
    }
    .browser-button-container button:active::after {
        opacity: 1;
        transform: scale(10);
        transition: transform 0.6s, opacity 0.6s;
    }

    /* Button styling */
    .hero-button-container {
        text-align: center;
        margin: 0.5rem;
    }
    .more-info {
        display: none;
    }

    /* chrome and firefox button animation */
    @keyframes shake {
        0% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(-2px);
        }
        50% {
            transform: translateX(3px);
        }
        75% {
            transform: translateX(-2px);
        }
        100% {
            transform: translateX(0);
        }
    }
    .hero-button-container button:active {
        animation: shake 0.3s ease-in-out;
        background-color: var(--SoftRed);
    }


    /* questions section styling */
    .question {
        padding: 2rem 0;
    }
    .question > h3, .question > p {
        text-align: center;
        padding: 0.5rem 2rem;
    }
    .question > h3 {
        font-size: 2rem;
        font-weight: 400;
    }
    .form-question {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 1rem;
    }
    .question-1 > div {
        position: relative;
        padding: 0.5rem 0;
    }
    .toggle-icon {
        display: block;
        position: absolute;
        left: 325px;   /* previously 340px*/
        top: 50%;
        transform: translateY(-50%); /* Centers it vertically */
        z-index: 10; 
    }
    .feature-button-container {
        text-align: center;
    }
    .feature-button {
        padding: 1rem 2rem;
        background-color: var(--SoftBlue);
        color: var(--VeryLightGrey);
        border: none;
        border-radius: 0.5rem;
        box-shadow: 0 3px var(--BoxColor);
    }
    .feature-button-container button:active {
        animation: shake 0.3s ease-in-out;
        background-color: var(--SoftRed);
    }
   
    /* call to section styling */
    .call-to-action {
        background-color: var(--SoftBlue);
        padding: 2rem 0;
    }
    .call-to-action > span, .call-to-action > h4 {
        text-align: center;
        color: var(--White);
    }
    .call-to-action > span {
        text-transform: uppercase;
        opacity: 0.8;
        letter-spacing: 5px;
        font-size: 0.7rem;
    }
    .call-to-action > h4 {
        font-size: 1.7rem;
        font-weight: 400;
    }
    #form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    input[type=email] {
        width: 100%;
        padding: 15px 25px;
        margin: 5px 0;
        border: none;
        color: var(--GrayishBlue);
        border-radius: 0.4rem;
        outline: none;
    }
    input[type=email]::placeholder {
        color: var(--GrayishBlue);
    }
    input[type=submit] {
        width: 100%;
        padding: 15px 100px;
        margin: 8px 0;
        background-color: var(--SoftRed);
        color: var(--VeryLightGrey);
        border: none;
        border-radius: 0.4rem;
        outline: none;
    }
    #email-error {
        visibility: hidden;
    }

    /* styling footer section */
    footer {
        background-color: var(--VeryDarkBlue);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 2rem 0;
    }
    .footer-card:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-transform: uppercase;
        text-align: center;
    }
    .footer-card:nth-of-type(3) {
        display: flex;
        gap: 2rem;
    }
    .footer-logo-img {
        width: 100px;
        height: 120px;
        object-fit: contain;
    }
}


/* Desktop view */
@media (min-width: 900px) {
    .open-menu {
        display: none;
    }
    .nav-links {
        all: unset;
        display: flex;
        list-style: none;
        gap: 2rem;
    }
    .nav-links a {
        color: var(--VeryDarkBlue);
        font-size: 1rem;
    }
    .nav-links a:hover {
        color: var(--SoftRed);
        cursor: pointer;
    }
    .login {
        padding: 0.35rem 1.3rem;
        background-color: var(--SoftRed);
        border-radius: 0.3rem;
        color: var(--White) !important;
        box-shadow: 0 3px var(--BoxColor);
    }
    .login:hover {
        background-color: var(--VeryLightGrey);
        color: var(--SoftRed) !important;
        border: 2px solid var(--SoftRed);
        cursor: pointer;
    }
    header {
        padding: 1.5rem 4rem;
    }

    /* main section styling */
    .main {
       display: flex;
       flex-direction: column;
       overflow-x: hidden;
    }

    /* Hero section styling */
    .hero {
        padding: 8rem 4rem;
        display: flex;
        flex-direction: row-reverse;
        gap: 2rem;
    }
    .hero-image-container {
        position: relative;
    }
    .hero-image-container::before {
        content: "";
        position: absolute;
        background-color: var(--SoftBlue);
        top: 65%;
        left: 75%;
        min-width: 400px;
        height: 250px;
        transform: translate(-50%, -50%);
        border-top-left-radius: 300px;
        border-bottom-left-radius: 300px;
        z-index: -1;
    }
    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        max-width: 600px;
    }

    /* Feature section */
    .feature {
        padding: 0 4rem;
    }
    .span-header {
        display: flex;
        justify-content: center;
        gap: 3rem;
        /* Testing out span movement*/
        position: relative;
        border-bottom: 2px solid var(--GrayishBlue);
        padding-bottom: 10px;
    }
    .span-header span {
        cursor: pointer;
        position: relative;
        padding-bottom: 10px;
    }
    .indicator {
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 0;
        background-color: var(--SoftRed);
        transition: all 0.3s ease-in-out;
    }

    .card {
        padding: 1rem 0;
    }
    
    /* Text styling */
    h1 {
        font-size: 3rem;
    }
    .hero-content > p {
        max-width: 500px;
    }
    .feature-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
    }
    .feature-paragraph {
        max-width: 500px;
        text-align: center;
    }
}